[Unit]
Description=SeaweedFS for WPS Hub
After=network.target

[Service]
User=hub-seaweedfs
Group=hub-seaweedfs

ExecStart=/opt/seaweedfs/weed server -dir=/var/seaweedfs/data -s3 -s3.config=/opt/seaweedfs/config.json
SyslogIdentifier=hub-seaweedfs

[Install]
WantedBy=multi-user.target
